USE [master]
GO
/****** Object:  Database [ShortLink]    Script Date: 10/11/2018 10:36:39 PM ******/
CREATE DATABASE [ShortLink]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShortLink', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ShortLink.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ShortLink_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ShortLink_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShortLink].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShortLink]
GO
/****** Object:  Table [dbo].[BlackList]    Script Date: 10/11/2018 10:36:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlackList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[URL] [nvarchar](50) NOT NULL,
	[Create_User] [int] NULL,
	[Create_Date] [date] NULL,
	[Update_User] [nvarchar](50) NULL,
	[Update_Date] [date] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_BlackList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Link]    Script Date: 10/11/2018 10:36:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Link](
	[Link_ID] [int] IDENTITY(1,1) NOT NULL,
	[Link_Code] [nvarchar](500) NOT NULL,
	[Link_URL] [nvarchar](500) NOT NULL,
	[Create_Date] [date] NOT NULL,
	[Create_User] [int] NULL,
	[Status] [bit] NULL,
	[Link_View] [int] NULL,
	[Link_Title] [nvarchar](500) NULL,
	[isCustomLink] [bit] NULL,
 CONSTRAINT [PK_Link] PRIMARY KEY CLUSTERED 
(
	[Link_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/11/2018 10:36:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Role_Id] [int] NOT NULL,
	[Role_Name] [nvarchar](50) NOT NULL,
	[Descristion] [nvarchar](50) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Role_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/11/2018 10:36:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_id] [int] IDENTITY(1,1) NOT NULL,
	[User_code] [nvarchar](50) NULL,
	[User_Name] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[User_FullName] [nvarchar](50) NULL,
	[User_PassWord] [nvarchar](50) NULL,
	[Role_Id] [int] NULL,
	[Create_Date] [date] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BlackList] ON 

INSERT [dbo].[BlackList] ([ID], [URL], [Create_User], [Create_Date], [Update_User], [Update_Date], [Status]) VALUES (1, N'xvideos.com', 5, NULL, NULL, NULL, NULL)
INSERT [dbo].[BlackList] ([ID], [URL], [Create_User], [Create_Date], [Update_User], [Update_Date], [Status]) VALUES (2, N'xnxx.com', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[BlackList] OFF
SET IDENTITY_INSERT [dbo].[Link] ON 

INSERT [dbo].[Link] ([Link_ID], [Link_Code], [Link_URL], [Create_Date], [Create_User], [Status], [Link_View], [Link_Title], [isCustomLink]) VALUES (1111, N'Vcjzr', N'', CAST(N'2018-10-07' AS Date), NULL, 1, 0, NULL, 0)
INSERT [dbo].[Link] ([Link_ID], [Link_Code], [Link_URL], [Create_Date], [Create_User], [Status], [Link_View], [Link_Title], [isCustomLink]) VALUES (1112, N'NXPFK', N'https://viblo.asia/p/securing-spring-boot-with-jwt-bJzKm14rK9N', CAST(N'2018-10-07' AS Date), NULL, 1, 3, NULL, 0)
INSERT [dbo].[Link] ([Link_ID], [Link_Code], [Link_URL], [Create_Date], [Create_User], [Status], [Link_View], [Link_Title], [isCustomLink]) VALUES (1113, N'NJRDX', N'', CAST(N'2018-10-07' AS Date), 6, 1, 0, NULL, 0)
SET IDENTITY_INSERT [dbo].[Link] OFF
INSERT [dbo].[Roles] ([Role_Id], [Role_Name], [Descristion]) VALUES (1, N'Admin', N'Quản lý')
INSERT [dbo].[Roles] ([Role_Id], [Role_Name], [Descristion]) VALUES (2, N'Thành viên', N'Thành viên trong hệ thống')
INSERT [dbo].[Roles] ([Role_Id], [Role_Name], [Descristion]) VALUES (3, N'Thành viên vip', N'Thành viên vip')
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([User_id], [User_code], [User_Name], [Email], [User_FullName], [User_PassWord], [Role_Id], [Create_Date], [Status]) VALUES (5, N'admin', N'admin', NULL, N'admin', N'123456', 1, CAST(N'2018-08-08' AS Date), 1)
INSERT [dbo].[Users] ([User_id], [User_code], [User_Name], [Email], [User_FullName], [User_PassWord], [Role_Id], [Create_Date], [Status]) VALUES (6, N'vip', N'vipsilip', NULL, NULL, N'123456', 3, NULL, 1)
INSERT [dbo].[Users] ([User_id], [User_code], [User_Name], [Email], [User_FullName], [User_PassWord], [Role_Id], [Create_Date], [Status]) VALUES (7, N'datkurai', N'aaa', NULL, NULL, N'123456', 2, NULL, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Link]  WITH CHECK ADD  CONSTRAINT [FK_Link_Users] FOREIGN KEY([Create_User])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[Link] CHECK CONSTRAINT [FK_Link_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([Role_Id])
REFERENCES [dbo].[Roles] ([Role_Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
